@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face {
  font-family: "burtons";
  src: url(../../public/Burtons.otf);
}

/* Flip card animation */
.card {
  perspective: 1000px; /* Increases depth of the flip */
  height: 230px;
  width: 420px;
}

.card__content {
  transform-style: preserve-3d;
  transition: transform 0.8s ease-in-out;
}

.card:hover .card__content {
  transform: rotateY(180deg);
}

.card__front,
.card__back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.card__back {
  transform: rotateY(180deg);
}
